{% extends 'common.html' %}
 
{% block title %} Kiyonagi Sandbox {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-auto
      インストール済のライブラリ一覧を取得
  %hr
  %div.row
    %div.col-auto
      %table.table#simpleTable

{% endblock %}

{% block scripts %}
  <script src="../static/main/js/getLibraryCollection.js"></script>

{% endblock  %}


