{% extends 'common.html' %}
 
{% block title %} Kiyonagi Sandbox {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-12
      %div(style="float:left; padding-right:30px")
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            %span.fs-4(style="font-weight:bold; font-size:2rem !Important")
              <i class="bi bi-stack" style="padding-right:10px"></i>
              Kiyonagi Sandbox
          </a>
        </header>

      %div(style="float:left; padding-right:130px")
        %div#divLblWelcomeMessage(style="top:10px; position:relative")
  %div.row
    %div.col-12
      %a#linkLoginAtGoogleAuth(href="")
        Google OAuth認証
        
  %div.row
    %div.col-12
      %a#linkGpt3AtOpenAIApi(href="")
        GPT-3の口調を変える
        
  %div.row
    %div.col-12
      %a#linkScrapeAndMining(href="")
        言葉の偏向を探る
        
  %div.row
    %div.col-12
      %a#linkCalcNutrients(href="")
        栄養素の過不足を見極める

  %div.row
    %div.col-12
      %a#linkShowHerokuPlatform(href="")
        Herokuの実行環境をのぞく

  %div.row
    %div.col-12
      %a#linkGettingStartOpenCV(href="")
        いまさらOpenCV入門

  %div.row
    %div.col-12
      %a#linkNotificationPushJS(href="")
        プッシュ通知を実装する

  %div.row
    %div.col-12
      %a#linkSetTimeoutOrSetInterval(href="")
        SetTimeout と SetInterval

  %div.row
    %div.col-12
      %a#linkGetLibraryCollection(href="")
        インストール済のライブラリ一覧を取得

  %div.row
    %div.col-12
      %a#linkAutoSaveByInterval(href="")
        ○○秒置きに自動保存するフォームを実装する

  %div.row
    %div.col-12
      %a#linkHandlingOfFlaskLogin(href="")
        flask-loginの取り回し

{% endblock %}

{% block scripts %}
  <script src="../static/holidays/lib/japanese-holidays.min.js"></script>
  <script src="../static/main/js/constants.js"></script>
  <script src="../static/main/js/main.js"></script>

{% endblock  %}


