{% extends 'common.html' %}
 
{% block title %} Kiyonagi Sandbox {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-auto
      2024年8月のMRI検査結果画像をぬるぬる動かす
  %hr
  %div.row(style="margin-bottom:14px")
    %div.col-auto
      ああああ
    %div.col-auto
      ああああああああああああああああ
    %div.col-auto
      ※日ううううい。
  %div#divHeadLine
    <img src="../static/image/20240803MRI/J108a000.png" class="img-fluid" alt="...">


{% endblock %}

{% block scripts %}
  <script src="../static/main/js/mriData2024Aug.js"></script>

{% endblock  %}


