{% extends 'common.html' %}
 
{% block title %} Kiyonagi Sandbox {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-auto
      2024年8月のMRI検査結果画像をぬるぬる動かす
  %hr
  %div.row(style="margin-bottom:14px")
    %div.col-auto
      プルダウンでシリーズを選択してください。

  %div.row
    %div.col-auto
      %select#selSeries.form-select.form-select-sm(aria-label=".form-select-sm")
        %option(selected value="0")
          シリーズを選択
    %div.col-auto
      %div#imgNoLabel

  %hr
  %div.row
    %div.col-auto
      %div#sliderLabel
  %div.row
    %div.col-auto
      %input.form-range#fileSlider(type="range" style="transform:scale(2.0); transform-origin:0 0; margin-bottom:20px ")
  %div.row
    %div.col-auto
      %img.img-thumbnail#filmArea(src="", style="width:auto; height:auto;max-width:100%")

{% endblock %}

{% block scripts %}
  <script src="../static/main/js/mriData2024Aug.js"></script>

{% endblock  %}


