{% extends 'common.html' %}
 
{% block title %} Kiyonagi Sandbox {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-auto
      push通知を実装する
      
  %hr
  %div.row
    %div.col-auto
      %button.btn.btn-primary.btn-lg#btnExecute(type="button")
        プッシュ

{% endblock %}

{% block scripts %}
  <script src="../static/main/js/notificationPushJS.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.8/push.min.js"></script>

{% endblock  %}


